*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
    color: #222222;
}

.header {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
border: 1px solid #ececec;
background-color: #ffffff;
height: 100px;
}

.header .header-flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header .logo,
.header .header-form,
.header .header-right,
.header .header-left {
    display: flex;
    align-items: center;
    height: 38px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

 .brand-name {
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 13px;

}
.brand-name >span {
    color: #f16d7f;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.select{
    height: 100%;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 37px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}
.header-form input {
    width: 315px;
    border-left: none;
    height: 100%;
    border-left-width: 0 !important;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding-left: 15px;
    color: #a4a4a4;
}
.header-right .cart-image {
    margin-right: 26px;
}
.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 47px;
    align-items: center;
}
.find-btn {
    width: 38px;
    /* height: 105%; */
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-left: none;
    /* width: 14px; */
    /* height: 14px; */
    color: #a4a4a4;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    /* letter-spacing: 0.35px; */
}


.menu-link {
    width: 680px;
    height: 10px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding: 15px 25px;
}
.menu-link:hover {
    color: #f16d7f;
}

.header-right .my-account-btn {
    color: #ffffff;
    background-color: #f16d7f;
    padding: 10px 23px;
}

.nav {
    background-color: #ffffff
}
.promo {
    background-color: #e8e8e8;
    height: 613px;
}
.promo .container {
    height: 100%;
}

.promo-text {
    float: left;
   margin-top: 224px;
   border-left: 12px solid #f16d7f;
   padding-left: 19px;

}
.promo-text .promo-h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
}
.promo-text .promo-h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 33px;
}
.promo-text .promo-h3 span {
    color: #f16d7f;
  
}
.promo-content {
    background-image: url('../images/promo.jpg');
    height: 100%;
    background-position-y: -52px;
}

.content-hot {
    height: 824px;
    width: 100%;
    margin-top: 98px;
}

.content-hot .hot-deal {
    width: 560px;
    height: 542px;
    background:url('../images/hot-deal.jpg');
    margin: 0 20px 20px 0;
    float: left;
}
.content-hot .offer-deal{
    width: 560px;
    height: 261px;
    background:url('../images/offer-deal.png');
    margin-bottom: 20px;
    float: right;
}
.content-hot .new-arrivals {
    width: 560px;
    height: 542px;
    background:url('../images/new.jpg');
    float: right;
}

.content-hot .trendy{
    width: 560px;
    height: 261px;
    background-color: #dadad2;
    float: left;
}
.content-hot .trendy>.trendy-img {

       background: url(../images/trendy.jpg) no-repeat;
       height: 240px;
       background-position-x: 160px;
}
.content-hot .trendy .trendy-text,
.content-hot .hot-deal .hot-deal-text,
.content-hot .offer-deal .offer-deal-text,
.content-hot .new-arrivals .new-arrivals-text {
    width: 135px;
    margin-top: 26px;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 900;
    background-color: #ffffff;
    text-transform: uppercase;
}
.content-hot .trendy .trendy-text>span,
.content-hot .hot-deal .hot-deal-text >span,
.content-hot .offer-deal .offer-deal-text >span,
.content-hot .new-arrivals .new-arrivals-text >span {
    color: #f16d7f;
    font-size: 30px;
    display: block;
    text-transform: uppercase;
}

.content-hot .offer-deal .offer-deal-text {
    padding: 16px 19px;
    width: 124px;
}

.content-hot .new-arrivals .new-arrivals-text {
    padding: 16px 20px;
    width: 140px;
}
.content-hot .trendy .trendy-text {
    padding: 16px 19px;
    width: 189px;
    height: 50px;
    float: left;
}
.content-featured {
    height: 872px;
}
.featured-text {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}
.featured-text h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}
.featured-text h4 {
    /* Style for "Shop for i" */
color: #9f9f9f;
font-weight: 400;
}
.content-item {
    height: 364px;
    width: 261px;
    margin-right: 32px;
    float: left;
    margin-top: 39px;
}

.content-item:nth-child(-n+4){
    margin-top: 0;
}
.content-item:nth-child(4n){
    margin-right: 0;
}

.item-photo {
width: 261px;
height: 279px;
}
.item-name {
    margin: 20px 0 17px 15px; 
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
}
.item-price {
    color: #f16d7f;
    margin-left: 17px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-container {
    text-align: center;
    margin-top: 60px
}
.btn-all-products{
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    padding: 14px 35px; 
}
.info-container {
    margin-top: 113px;
    height: 529px;
    background-color: #222224;
}
.content-info{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.info-container .content-left {
    width: 767px;
    height: 100%;
    background: url('../images/info.jpg')
}

.info-text {
    margin-top: 146px;
    margin-left: 39px;
}
.info-text h1 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 900;
    font-size: 32px;

}
.info-text h2 {
    font-size: 32px;
}
.info-text span{
    color: #f16d7f;
}
.shop-info {
    height: 134px;
    width: 294px;
    margin-top: 48px;
    margin-right: 43px;
}

.shop-info-left{
    margin-right: 30px;
    width: 45px;
    height: 32px;
    float: left;
}
.shop-info-right h3 {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}
.shop-info p {
    width: 219px;
    height: 58px;
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    display: block;
    width: 219px;
    float: right;
    text-align: justify;

}
.comments{
    background-position-y: 34px !important;
    margin-top: 97px;
    height: 438px;
    width: 100%;
    background: url('../images/bg_bottom.jpg') no-repeat center;
}
.container-feed {
    width: 1140px;
    height: 100%;
    margin: 0 auto
}
.comments .feed-block{
    width: 570px;
    height: 100%;
    border-right: 1px solid #ffff;
    display: flex;
    align-items: center;
}
.user-photo {
    width: 83px;
    height: 83px;
}

.user-comment {
    width: 434px;
    height: 95px;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-left: 28px;
    text-align: justify;
}
.user-name h3 {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    line-height: 8px;
    margin-top: 19px;
    letter-spacing: 0.3px;

}
.user-name{
font-size: 12px;
font-weight: 500;

}
.comment-nav {
    height: 50px;
    margin-top: 41px;
    display: flex;
}
.nav-inactive{
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-left: 13px;
}
.nav-active {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
    margin-left: 13px;
}

.comment {
    display: flex;
    justify-content: space-between;
}
.content {
    height: 100%;
    display: flex;
    align-items: center;
}

.subcribe-form h1 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
}
.subcribe-form h3 {
    font-weight: 400;
    font-size: 14px;
}
.subcribe-form {
    margin-top: 76px;
}
.subcribe-form .email-form  {
    width: 386px;
    height: 46px;
    display: flex;
    margin-left: 92px;
}
.subcribe-form .text-block {
    text-align: center;
    margin-bottom: 35px;
    margin-left: 75px;
}

.subcribe-form .email-form .input {
    width: 282px;
    height: 100%;
    border-radius: 23px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 23px 0 0 23px;
    
}

.subcribe-form .email-form .input>span {
    padding: 16px 28px;
    opacity: 0.67;
    font-size: 14px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.35px;
}

.subcribe-form .btn-subscribe {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    border: navajowhite;
}

.btn-subscribe>span{
    width: 63px;
    height: 10px;
    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}
.promo-bottom {
    height: 458px;
}

/* .promo-bottom> .container{
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

} */

.promo-bottom .container .about {
    width: 438px;
    height: 260px;
    margin-right: 64px;
    margin-top: 109px;
}

.about .brand {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 29px;
}
.about .about-text {
   display: block;
width: 427px;
height: 180px;
color: #898989;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0.35px;
text-align: justify;
}
.about .about-text p {
    display: block;
    margin-bottom: 20px;
}

.promo-bottom ul {
    list-style-type: none;
}
.menu-company h3,
.menu-information h3,
.menu-shop-category h3 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 14px;
    margin-top: 123px;
    margin-bottom: 45px;
}

.menu-company {
    margin-right: 129px;
}

.content-bottom {
    height: 100%;
    display: flex;
}

.menu-information {
    margin-right: 80px;
}

.menu-company li a, 
.menu-information li a, 
.menu-shop-category li a {
    /* Style for "Home  Shop" */

color: #898989;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.4px;
line-height: 59px;
letter-spacing: 0.4px;
line-height: 42px;
}

footer {
    /* Style for "Background" */
    /* width: 100%; */
    height: 79px;
    background-color: #e6e6e6;
}

footer .container {
    height: 100%;
    margin: 0 auto;
}

footer .footer-right {
    /* Style for "© 2017  Br" */
width: 260px;
height: 14px;
color: #7a7a7a;

font-size: 16px;
font-weight: 400;
line-height: 42px;
/* Text style for "©,  2017" */
letter-spacing: 0.4px;

display: flex;
align-items: center;
height: 100%;
float: left;
}

.footer-left {
    display: flex;
    width: 191px;
    justify-content: space-between;
    margin-top: 24px;
    float: right;
}

.social-btn {
    height: 32px;
    width: 32px;
    background-color: #ffffff;
}

.social-btn i {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
 
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;


}
.social-btn.active {
     background: #f16d7f;
     color: #ffffff;
}

.social-btn.active i {
    color: #ffffff;
}